<div class ="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @friends %>
  <% @friends.each do |friend| %>
    <div class="card card-header results-block">
      <p style="display: inline-block; width: 250px;">
        <strong>Name: </strong> <%= friend.first_name + ' ' + friend.last_name %>
      </p>

      <% if current_user.friend_already_displayed?(current_user, friend) %> 
        <p class="badge badge-secondary">
          You are already displaying this friend.
        </p>
      <% elsif !current_user.under_friend_limit? %> 
        <p class="badge badge-secondary">
          You are already displaying ten friends.
        </p
      <% else %>
        <%= link_to 'Follow', 
                    user_friends_path(user: current_user, friend: friend.id),
                    class: "btn btn-xs btn-success", method: :post %>
        <%= link_to 'View Profile', 
                    user_friends_path(user: current_user, friend: friend.id),
                    class: "btn btn-xs btn-success" %>                      
      <% end %>
    </div>
  <% end %>
<% end %>
